<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="ScriptTranslatorSettings">
      <section name="Cultures" type="ScriptTranslatorSettings.Config.CultureSettings, ScriptTranslatorSettings" />
      <section name="ScriptTranslatorSettings" type="ScriptTranslatorSettings.Config.ScriptTranslatorSettings, ScriptTranslatorSettings" />
    </sectionGroup>
  </configSections>
  <ScriptTranslatorSettings>
    <Cultures configSource="App_Data\Core\Cultures.config" />
    <ScriptTranslatorSettings configSource="App_Data\Core\ScriptTranslator.config" />
  </ScriptTranslatorSettings>
</configuration>